.btn-container {
  display: flex;
}

@keyframes changeBgColorDarkToGold {
  0% {
    background-color: #151515;
  }

  100% {
    background-color: #d5966c;
  }
}

@keyframes changeBgColorGoldToDark {
  0% {
    background-color: #d5966c;
  }

  100% {
    background-color: #151515;
  }
}

.btn-action {
  position: relative;
  padding: 24px 34px;
  border: none;
  background-color: var(--almost-black);

  color: var(--white);
  font-size: 20px;
  font-family: var(--hd-big-shoulders);
  letter-spacing: 3.64px;
  text-transform: uppercase;
  font-weight: 800;
  order: 2;
}

.btn-action:hover {
  animation: changeBgColorDarkToGold 0.25s ease;
  background-color: var(--gold);
}

.btn-action:hover ~ .arrow {
  animation: changeBgColorGoldToDark 0.25s ease;
  background-color: var(--almost-black);
}

.arrow {
  background-color: var(--gold);
  width: 56px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow--right {
  order: 3;
}

.arrow--left {
  order: 1;
}
