.day-galery-section {
  margin: 0px 16px 32px;
  max-width: 343px;
}

.day-galery__picture {
  width: 343px;
  height: 320px;
}

.day-galery__info h2 {
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 45px;
  color: var(--almost-black);
  margin-top: 25px;
  margin-bottom: 21px;
}

@media (min-width: 768px) {
  .day-galery-section {
    max-width: 100%;
    display: flex;
    gap: 68px;
    margin: 0px 39px 11px;
  }

  .day-galery-section picture {
    width: 398px;
    height: 400px;
    order: 2;
  }

  .day-galery__info {
    max-width: 223px;
    order: 1;
  }

  .day-galery__info h2 {
    margin-top: 36px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .day-galery-section {
    gap: 125px;
    margin-bottom: 30px;
  }

  .day-galery-section picture,
  .day-galery__picture img {
    width: 635px;
    height: 400px;
  }

  .day-galery__info {
    max-width: 350px;
  }
}
