footer {
  background-color: var(--almost-black);
  color: var(--white);
  padding: 48px 32px;
}

footer .logo {
  margin-bottom: 38px;
}

footer p {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 38px;
}

.footer__social img {
  margin-right: 20px;
}

.footer__social img:last-of-type {
  margin-right: 0;
}

@media (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 25% 40% 35%;
  }

  footer p {
    margin-bottom: 0px;
  }

  .footer__social {
    justify-self: right;
  }
}

@media (min-width: 1024px) {
  footer {
    width: 100%;
    padding: 85px 165px;
    grid-template-columns: 30% 35% 35%;
  }

  footer .logo {
    width: 160px;
    height: 58px;
    margin-bottom: 0;
  }
}
