footer {
  background-color: var(--almost-black);
  color: var(--white);
  padding: 48px 32px;
}

footer .logo {
  margin-bottom: 38px;
}

footer p {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 38px;
}

.footer__social img {
  margin-right: 20px;
}

.footer__social img:last-of-type {
  margin-right: 0;
}
