.eName {
  max-width: 375px;
  width: 100%;
  max-height: 800px;
  height: 100%;
  margin-bottom: 120px;
}

.eName__bg {
  width: 100%;
}

.eName__bg--first-layer {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  max-width: 900px;
}

.eName__bg--first-layer picture {
  max-height: 700px;
}

.eName__bg--second-layer {
  position: relative;
  z-index: 2;
}

.eName__container--second-layer .logo {
  height: 110px;
  max-width: 280px;
  margin: 32px 16px;
}

.eName__info {
  margin: 0px 16px;
}

.eName__info p {
  margin: 0;
  margin-bottom: 32px;
}

.eName__bg--third-layer {
  position: relative;
  display: none;
  z-index: 3;
}

@media (min-width: 768px) {
  .eName {
    max-width: 900px;
  }

  .eName__bg--first-layer {
    position: absolute;
    justify-content: flex-start;
  }

  .eName__bg--second-layer {
    display: flex;
    justify-content: flex-end;
  }

  .eName__container--second-layer {
    max-width: 339px;
    margin-top: 145px;
    margin-right: 40px;
    margin-bottom: 120px;
  }

  .eName__container--second-layer .logo {
    height: 130px;
    max-width: 339px;
    margin: 32px 0px;
  }

  .eName__info {
    margin: 0px 0px;
  }
}

@media (min-width: 1024px) {
  .eName {
    max-width: 100%;
    margin-bottom: 300px;
  }

  .eName__bg--first-layer {
    max-width: 100%;
    justify-content: center;
  }

  .eName__bg--second-layer {
    justify-content: flex-start;
  }

  .eName__container--second-layer {
    min-width: 100%;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 190px 165px;
  }

  .eName__container--second-layer .logo {
    max-width: 460px;
    height: 176px;
    margin: 0;
  }

  .eName__info {
    max-width: 350px;
  }

  .eName__info p {
    margin-bottom: 64px;
  }

  .eName__bg--third-layer {
    display: block;
    background-color: var(--almost-black);
    max-width: 450px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hide__image__container {
    overflow: hidden;
    max-width: 284px;
    position: absolute;
    top: 190px;
    left: 165px;
  }

  .logo__third-layer {
    width: 460px;
    height: 176px;
  }
}
