.images__container {
  margin: 0px 39px 120px;
  max-width: 343px;
}

.container__grid1 {
  margin-bottom: 16px;
  width: 343px;
  height: 480px;
}

.info-container__grid2 {
  width: 343px;
  height: 200px;
  margin-bottom: 16px;
}

.images__info {
  background-color: var(--almost-black);
  color: var(--white);
  padding: 48px 24px;
  max-width: 343px;
}

.images__info h1 {
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 45px;
  margin: 0;
  margin-bottom: 24px;
}

.images__info p {
  margin: 0;
}

@media (min-width: 768px) {
  .images__container {
    max-width: 689px;
    display: flex;
    gap: 11px;
  }

  .container__grid1 {
    min-width: 398px;
    height: 720px;
  }

  .info-container__grid2 {
    width: 280px;
    height: 313px;
    margin-bottom: 11px;
  }

  .images__info {
    padding: 85px 28px;
  }
}

@media (min-width: 1024px) {
  .images__container {
    max-width: 100%;
    gap: 30px;
    margin-bottom: 180px;
  }

  .container__grid1 {
    width: 635px;
    height: 720px;
  }

  .info-container__grid2 {
    width: 445px;
    height: 313px;
    margin-bottom: 30px;
  }

  .images__info {
    max-width: 445px;
    padding: 64px 48px;
  }

  .images__info h1 {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}
